#buyer-container {
	margin-top: 70px;
}
#buyer-container input {
	margin-bottom: 10px;
}

#seller-container {
	margin-top: 70px;
}

#seller-container input {
	margin-bottom: 10px;
}

#type-group {
	text-align: center;
}

#type-group h1 {
	margin-bottom: 50px;
}

#type-group a {
	width: 150px;
	height: 40px;
	padding: 5px 5px 5px 5px;
	margin-right: 20px;
}

#type-group href {

}

#staging-container input{
	margin-bottom: 10px;
}
#email-search >h2{
	padding-bottom: 30px;
	text-align: center;
}

#email-search {
	margin-top: 220px;
}

#email-search form input {
	width: 100%;
}

#search-button {
	margin-top: 20px;
	text-align: center;
}

#search-button button {
	width: 150px;
}

.cancel-button {
	width: 150px;	
}